@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Cambay', sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --main: #ff4500;
  --secondary: #87ceeb;
  --dark: #111;
  --light: #eee;
  ---grey-l: #ccc;
  --grey-m: #888;
  --grey-d: #333;
  --yellow: #fdfd6b;
}


.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)),
    url('./images/bg.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  width: 35rem;
  height: 70rem;
  background: linear-gradient(
    to top,
    var(--yellow),
    var(--secondary)
  );
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

